@{
    ViewData["Title"] = "Lille startsida";
}
<div class="content">
    <h2>@ViewBag.Header</h2>
    <p>
        Uppgiften ingår i kursen "Webbutveckling med .NET" och syftet med uppgiften är att skapa
        ett enkelt projekt som bygger på MVC-designmönstret.
    </p>
    <br>
    <p>
        Syftet är också att förstå filuppdelningen och MVC-arkitekturen, förstå routing och URLs,
        samt förstå var logik ska placeras och varför.
    </p>
    <br>
    <p>
        Projektet är uppbyggt mha SPA och innehåller fyra undersidor som alla är uppbyggda med
        olika Views.
    </p>

</div>